/* AboutUs.css */
.about-us-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .about-us-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-us-container p {
    font-size: 16px;
    line-height: 1.5;
  }
  